.lt-container {
    background-color: light-gray;
}
.text-center {
    text: center;
}
.part-1  { background-color: #ff0000; }
.part-2  { background-color: #bf00ff; }
.part-3  { background-color: #cc9999; }
.part-4  { background-color: #4024F0; }
.part-5  { background-color: #734939; }
.part-6  { background-color: #cc7033; }
.part-7  { background-color: #ffd9bf; }
.part-8  { background-color: #40F200; }
.part-9  { background-color: #d9a66c; }
.part-10 { background-color: #ad4439; }
.part-11 { background-color: #7f5500; }
.part-12 { background-color: #e5b800; }
.part-13 { background-color: #a69d7c; }
.part-14 { background-color: #eaf279; }
