<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ site.github.project_title }}</title>
        <meta name="description" content="{{ site.github.project_tagline }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <link rel="stylesheet" href="{{ site.baseurl }}/assets/layout-grid.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/layout-reorder.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/layout-grid-page.css">
    </head>
    <body>

{{ content }}

        <script type="text/javasript" src="{{ site.baseurl }}/assets/layout-grid.min.js"></script>
    </body>
</html>

