<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ site.title }}</title>
        <meta name="description" content="{{ site.github.project_tagline }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <link rel="stylesheet" href="{{ site.baseurl }}/assets/layout-grid.min.css">
    </head>
    <body>

{{ content }}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="{{ site.baseurl }}/assets/layout-grid.min.js"></script>
    </body>
</html>

